.article-section {
  @reference p-2;
}

.article-section h1 {
  @reference my-2;
  @reference text-2xl;
  @reference font-bold;
}

.article-section h2 {
  @reference my-2;
  @reference text-xl;
  @reference font-semibold;
}

.article-section h3 {
  @reference my-2;
  @reference text-lg;
  @reference font-semibold;
}

.article-section p {
  @reference my-4;
  @reference text-base;
}

.article-section ul {
  @reference font-semibold;
  @reference pl-4;
}

.article-section li {
  @reference list-decimal;
}

.article-section table {
  @reference table;
}

.article-section thead tr {
  background-color: #1f2937;
  color: #ffffff;
  text-align: left;
}

.article-section th,
.article-section td {
  padding: 12px 15px;
  color: #ffffff;
}

.article-section tbody tr {
  border-bottom: 1px solid #71717a;
}

.article-section tbody tr:nth-of-type(even) {
  background-color: #71717a;
}

.article-section tbody tr:last-of-type {
  border-bottom: 2px solid #1f2937;
}

.article-section tbody tr.active-row {
  font-weight: bold;
  color: #1f2937;
}

.article-section img {
  max-width: 100%;
  border-radius: 10px;
}

/* ============ flip hover styles ============ */
.card-flip:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.card-back {
  transform: rotateY(180deg);
}

.astro-code {
  padding: 16px;
  margin: 10px 0px 10px;
  border-radius: 8px;
}


/* Define the keyframes */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 2.5rem)); /* Adjust the distance */
  }
}

/* Apply the animation to a class */
.animate-marquee {
  animation: marquee 30s linear infinite;
}