---
import Layout from 'layouts/Layout.astro';
import Footer from 'components/common/Footer.astro';
import Header from 'components/common/Header.astro';
---

<Layout title="jumpbangs">
  <div
    class="hero flex flex-col text-white"
    style="background-image: url(/wallhaven.jpeg);"
  >
    <div class="container mx-auto">
      <Header toggleOff={true} />
    </div>
    <div class="hero h-screen">
      <div class="hero-content rounded bg-slate-500 bg-opacity-40 text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Hello there 👋</h1>
          <p class="mb-5">I am a web developer based in Perth</p>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <Footer />
    </div>
  </div>
</Layout>
