---
import Layout from 'layouts/Layout.astro';
import Footer from 'components/common/Footer.astro';
import Header from 'components/common/Header.astro';
---

<Layout title="My Projects">
  <Header />
  <h1 class="text-3xl text-slate-800 dark:text-slate-400">My Projects</h1>
  <section class="text-slate-800 dark:text-slate-400">
    <div class="mb-10 mt-10 text-center">
      <h3>No projects yet 😔</h3>
    </div>
  </section>
  <Footer />
</Layout>
