---
import { CalendarIcon } from 'astro-feather';

import { formatDate, formatTime } from 'utils/date';

export interface Props {
  dateTime: string | Date;
}

const { dateTime } = Astro.props;
---

<div class="mt-2 flex flex-row gap-1 text-slate-800 dark:text-slate-400">
  <CalendarIcon />
  <span>Posted on:</span>
  <div>
    <span>{formatDate(dateTime)}</span> | <span>{formatTime(dateTime)}</span>
  </div>
</div>
