---
type IconModule = {
  default: {
    src: string;
    width: number;
    height: number;
    format: string;
  };
};

const devIcons = Object.values(
  import.meta.glob('../assets/icons/*', { eager: true }) as Record<string, IconModule>
);
---

<ul class="pointer-events-none relative my-10 flex gap-10 overflow-hidden">
  <div class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-10">
    {
      devIcons.map((icons, index) => (
        <img height="48" width="48" src={icons.default.src} alt={`icon-${index}`} loading="lazy" />
      ))
    }
  </div>
  <div
    aria-hidden="true"
    class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-10"
  >
    {
      devIcons.map((icons, index) => (
        <img height="48" width="48" src={icons.default.src} alt={`icon-${index}`} loading="lazy" />
      ))
    }
  </div>
</ul>
