---
import { SOCIAL_DATA } from 'utils/constants';
import { GithubIcon, LinkedinIcon, MailIcon, FileTextIcon } from 'astro-feather';
---

<footer class="mt-4">
  <div class="mb-2 flex flex-row justify-center gap-4">
    <a href={SOCIAL_DATA.github}>
      <GithubIcon />
    </a>
    <a href={SOCIAL_DATA.linkedin}>
      <LinkedinIcon />
    </a>
    <a href={`mailto:${SOCIAL_DATA.email}`}>
      <MailIcon />
    </a>
    <a href="/files/Resume.pdf" download="amitchongbang_resume.pdf">
      <FileTextIcon />
    </a>
  </div>
  <div class="text-center text-zinc-100 dark:text-slate-100">
    <small>© 2023 Amit Chongbang</small>
  </div>
</footer>
