---
import ColorMode from 'components/common/ColorMode.astro';
import Metadata from 'components/common/Metadata.astro';

import 'styles/base.css';

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata />
    <ColorMode />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-400 antialiased dark:bg-slate-800">
    {
      Astro.url.pathname === '/' ? (
        <slot />
      ) : (
        <div class="container mx-auto min-h-screen">
          <slot />
        </div>
      )
    }
  </body>
</html>
