---
import Layout from 'layouts/Layout.astro';

import Breadcrumbs from 'components/Breadcrumbs.astro';
import Footer from 'components/common/Footer.astro';
import Header from 'components/common/Header.astro';
import DateTime from 'components/DateTime.astro';
import Tags from 'components/Tags.astro';
const { post } = Astro.props;

const { title, tags, pubDate } = post.data;

const { Content } = await post.render();
---

<Layout title={title}>
  <Header />
  <Breadcrumbs />
  <h1 class="text-3xl text-slate-200">{title}</h1>
  <DateTime dateTime={pubDate} />
  <section class="text-slate-200">
    <article class="article-section mx-auto mt-2">
      <Content />
    </article>
  </section>

  <Tags tags={tags} />
  <Footer />
</Layout>
